:root {
  --blue: #6495ed;
  --white: #faf0e6;
  --teal:#008080;
  --tealLight:#66b2b2;
}

#x::-webkit-scrollbar {
    width: 6px;
}

#x::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

#x::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App{
  /* background-image:  
  linear-gradient(teal, #00b09b); */
  height: 100vh;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; */
}
